body {
  background-color: #5d5d5d;
  /* 5d5d5d */
}
.bg-light-dark {
  background-color: #2B3035;
}

#root {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
} 